body {
    background-color: cadetblue;
    font-family: Arial, sans-serif;
    padding: 20px;
}

.customer-list {
    border: 1px solid #ddd;
    padding: 5px;
    margin: 10px 0;
}

h3 {
    margin: 0 0 10px 0;

}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    cursor: pointer;
    margin: 5px 0;
    padding: 5px;
    border-radius: 4px;
    background-color: #f5f5f5;
}

li:hover {
    background-color: #c2c2c2;
    transition: 0.8s;
    scale: 1.05;
}

nav {
    background-color: #333;
    border-radius: 8px;
    overflow: hidden;
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 8px;
    transition: 0.5s;
}

nav a:hover {
    background-color: #ddd;
    color: black;
    scale: .9;
}

nav a.active {
    background-color: #04AA6D;
    color: white;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

div h1 {
    text-align: center;
}

.app-container {
    text-align: center;
    background-color: #a3a3a3;
    border-radius: px;
    color: darkblue;
    text-shadow: 1px 1px 2px rgb(37, 37, 37);
}

input {
    border-radius: 7px;
    border: none;
    margin: 5px;
    padding: 8px;
}

input:hover {
    cursor: pointer;
    background-color: rgb(255, 158, 158);
    transition: 0.5s ease-out;
}

button {
    margin: 15px;
    border-radius: 1px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

button:hover {
    cursor:pointer;
    background-color: grey;
    color: #ff0000;
    transition: 0.3s;
    border-radius: 4px;
}

label {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
}

div img {
    display: flexbox;
    border: solid white;
    border-radius: 9px;
    max-width: 500px;
    margin: 30px;
    box-shadow: 0px 0px 30px #000dff;
}
.img-fluid {
    max-width: 50%;
    height: auto;
}